In [1]:
import pandas as pd
import numpy as np

data_base = pd.read_csv('WorldCupMatches.csv')

In [2]:
pd.Series(data_base['Home Team Goals'].sum() + data_base['Away Team Goals'].sum())

0    2414.0
dtype: float64

In [3]:
grouped = (data_base.groupby(['Home Team Name'])['Home Team Goals'].agg('sum'))+(data_base.groupby(['Away Team Name'])['Away Team Goals'].agg('sum'))
grouped.reindex()
grouped_to_frame = grouped.to_frame()
col = grouped_to_frame.rename({0: "goals"}, axis='columns')
sort = col.sort_values(by='goals', ascending=False)
sort.head()

            goals
Brazil      225.0
Argentina   133.0
Germany FR  131.0
Italy       128.0
France      108.0

In [4]:
SemiFinals = data_base['Stage'] == 'Semi-finals'
goals = data_base[SemiFinals]
pd.Series(goals['Home Team Goals'].sum() + goals['Away Team Goals'].sum())

0    131.0
dtype: float64